.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .handle-box {
        margin-right: 30px;
    }
    .inputs {
        width: 120px;
    }
}

.el-select-width {
    width: 122px;
}

.el-input-width {
    width: 160px;
}
