.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .handle-box {
        margin-right: 30px;
    }
    .inputs {
        width: 120px;
    }
}

@media screen and (min-width: 1920px) {
    .el-select-width {
        width: 122px;
    }

    .el-input,
    .el-input-width {
        width: 140px !important;
    }
}

@media screen and (max-width: 1919px) {
    .sidebar-el-menu:not(.el-menu--collapse) {
        width: 225px !important;
    }
    .el-form-item__label {
        padding: 0 6px 0 0;
    }
    .search-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .handle-box {
            margin-right: 1px;
        }
    }
    .el-select-width {
        width: 80px;
    }
    .el-input-width {
        width: 95px !important;
    }
    .el-date-editor.el-input,
    .el-date-editor.el-input__inner {
        width: 110px !important;
    }
    .el-input--prefix .el-input__inner {
        padding-left: 30px;
    }
    .el-input--suffix .el-input__inner {
        padding-right: 0;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        padding: 10px !important;
    }
    .sidebar-el-menu:not(.el-menu--collapse) {
        width: 200px !important;
    }
    .el-form-item__label {
        padding: 0 0px 0 0;
    }
    .el-input-width {
        width: 85px !important;
    }
}
